{% extends "base.html" %}  
{% block bbslist %}  
<section id="list_sec" class="single-page scrollblock">
  <div class="container">
    <div class="align" >
    </div>
    <br/>
    <div class="row-fluid">
    <div class="span4" id="div_list1">
    	
    </div>
    <div class="span4" id="div_list2">
    	
    </div>
    <div class="span4" id="div_list3">
    	
    </div>
    </div>
   </div>
</section>
    <hr>
    
 <script type="text/javascript" charset="utf-8">
 
 $(document).ready(function(){
	 loadbbslist();
 });
 

 
</script>
{% endblock %}
